.practice {
    display: flex;
    justify-content: flex-start;
}

.practice .title {
    flex-grow: 1;
}

.admin-button {
    float: right;
    margin-top: -6px;
    margin-bottom: -6px;
}
meter {
  width: 500px;
  height: 55px;
  border-radius: 3px;
}
meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: linear-gradient(
    90deg, 
    #8bcf69 20%, 
    #719fd1 100%
  );
  background-size: 100% 100%;
}
.center-block {
    text-align: center;
}

.mat-tab-label-active {
    color: white;
    background-color: black;
}
