<div class=" center-block ">
  <div class="main-content">
    <mat-card>
      <mat-card-content>
        <a href="https://pixabay.com/ja/"><img src="../../assets/logo.png" alt="提供：pixabay"></a>
        <img mat-card-image src={{WordData.imgURL}} width="400">
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <p>
          <font size="10">{{WordData.sentence.en}}</font>
        </p>
        <p>
          <button type="button" class="btn btn-danger result" (click)="speech(WordData.sentence.en)">▶再生</button>
        </p>
        <p>
          <font class="ja">{{WordData.sentence.jp}}</font>

        </p>

      </mat-card-content>
    </mat-card>
  </div>

  <table id="mid">
    <tbody>
      <tr>
        <td align="right">
          <font class="ja">{{word.ja}}→</font>
        </td>

        <td>
          <div *ngFor="let alp of word.en; let i= index" class="input-eng">
            <input type=" text " class="word " [(ngModel)]="word.ans[i]" maxlength="1 " value={{i}} id="{{i}}" #input
              (keyup)="autofocus(i,$event)">
          </div>
          <button type="button" class="btn btn-danger scoring" (click)="speech(miss_word) ">▶発音</button>

        </td>
        <td>
          <!-- <font size="5" color="red">{{words[j].judge}}</font> -->
          <p *ngIf="word.judge=='×'; else elseBlock">
            <font class="result">{{word.judge}}{{word.example}}</font>
            <!-- <button type="button" class="btn btn-danger result" (click)="speech(miss_word) ">▶再生</button> -->
            <!-- {{words[j].judge}} -->
          </p>
          <ng-template #elseBlock>
            <font result>{{word.judge}}</font>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <button type="button" class="btn btn-danger result" (click)="review()">他の間違えた単語へ</button>
    <button type="button" class="btn btn-danger result" (click)="home()">別の問題へ</button>
  </p>
</div>