<div class="container">
  <font size="10">学習のはじめかた！</font>

  <h1>1.</h1>
  <mat-card>
    <mat-card-content>
      <h1>
        まず、カテゴリ、難易度を選択し、表示された問題一覧から学習したい問題を選択して下さい！
      </h1>
      <img mat-card-image src="../../assets/list.png">
    </mat-card-content>
  </mat-card>
  <h1>2.</h1>
  <mat-card>
    <mat-card-content>
      <h1>
        表示された日本語に対して英単語を入力していきましょう！
      </h1>
      <img mat-card-image src="../../assets/try.png">
    </mat-card-content>
  </mat-card>
  <h1>3.</h1>
  <mat-card>
    <mat-card-content>
      <h1>
        間違えても、解答すると出現する「復習」ボタンで英単語の復習ができたり、わからない場合は「ギブアップ」ボタンでギブアップすることが出来ます！
        他の問題がしたい場合は、「他の問題へ」を選択してください！
      </h1>
      <img mat-card-image src="../../assets/try_ng.png">
    </mat-card-content>
  </mat-card>
  <h1>4.</h1>
  <mat-card>
    <mat-card-content>
      <h1>
        間違えた問題の関連画像や、例文、英単語の練習ができます！
        また、再生ボタンで英文を聞くことが出来ます！
        復習に役立ててください！
      </h1>
      <img mat-card-image src="../../assets/review.png">
    </mat-card-content>
  </mat-card>
  <h1>5.</h1>
  <mat-card>
    <mat-card-content>
      <h1>
        「他の問題へ」ボタンで、ほかに間違えた単語を復習することができます！
        「別の問題へ」ボタンで、ほかの問題選択画面へ戻ります！
      </h1>
      <img mat-card-image src="../../assets/review_ok.png">
    </mat-card-content>
  </mat-card>


  <font size="10">学習を始めるにはログインをお願いします</font>

  <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="location.href='auth/google'">Google
    Auth</button>
</div>